.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.formular{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}
#more-right{
  margin-left: 630px;
}
.line-breaker {
  padding-bottom: 5px;
}
.line-breaker input{
  width: 350px;
  height: 30px;
}

.footer {
  background: #808080;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: normal;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  word-spacing: normal;
}

.site-width {
  width: 100%;
}
.right {
  margin-left: 50%;
}
.left {
  width: 50%; float: left;
}
.center-text {
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
#line {
  width: 60%;
}
