.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.formular{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
#more-right{
  margin-left: 630px;
}
.line-breaker {
  padding-bottom: 5px;
}
.line-breaker input{
  width: 350px;
  height: 30px;
}
