ul {
  list-style-type: none;
  background-color: #808080;
  /* Overflow defimerer hvad der sker med indhold der er for stort til at være i et område */
  overflow: hidden;
  margin: 0;
  padding: 0;
  border-bottom:1px solid black;

}
li {
  float: left;
}
li a{
  display: block;
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 14px 169px;
}
li a:hover{
  background-color: yellow;
}
li:first-child {
  font-weight: bold;
}
